<?xml version="1.0" encoding="UTF-8"?>

<!--插件id号，与package.json保持一致 版本号，与package.json保持一致-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.bank.client.plugins"
        version="2.2.5">
  <!--插件在cordova下的名称-->
  <name>Test Plugin</name>
  <description>Test for cordova plugin</description>
  <author>ZD</author>
  <keywords>Test</keywords>
  <license>MIT License</license>


  <engines>
    <engine name="cordova" version=">=3.0" />
  </engines>

  <!-- dependencies -->
  <dependency id="cordova-plugin-device" />

  <!--插件js接口文件配置信息-->
  <!--定义插件在js中调用的类名-->
  <js-module src="www/TestPlugin.js" name="TestPlugin">
    <clobbers target="BankPlugin.testDemo" />
  </js-module>
  <!-- iOS平台配置 -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="TestPlugin">
        <param name="ios-package" value="TestPlugin" />
      </feature>
    </config-file>

    <header-file src="src/ios/TestPlugin.h" />
    <source-file src="src/ios/TestPlugin.m" />


  </platform>


</plugin>

